@page "/Averages"
@inject CubeTimeAnalyzerHttpClient httpClient
@attribute [StreamRendering]

<PageTitle>Ao5's</PageTitle>

<h1>Ao5s</h1>

<p>your averages of 5</p>
@if (_averages == null)
{
    <p><em>Loading...</em></p>
}
else if (_averages.Count == 0)
{
    <p><em>No Times To Display</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>pos</th>
                <th width="60%">Average</th>
                <th width="30%" colspan="5">Times</th>
                <th width="5%" />
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var average in _averages)
            {
                <tr>
                    @{i++;}
                    <td><b>@i</b></td>
                    @if(average.Value == double.MaxValue)
                    {
                        <td>DNF</td>
                    }
                    else
                    {
                        <td>@ParseTime(average.Value)</td>
                    }
                    @foreach(var time in average.Times)
                    {
                        @if(time.Value == average.WorstTime.Value || time.Value == average.BestTime.Value)
                        {
                            <td>(@ParseTime(time.Value))</td>
                        }
                        else
                        {
                            <td>@ParseTime(time.Value)</td>
                        }
                    }
                    <td />
                </tr>
            }
        </tbody>
    </table>
}