@page "/Averages"
@using Client
@using models
@inject CubeTimeAnalyzerHttpClient httpClient
@attribute [StreamRendering]

<PageTitle>Ao5's</PageTitle>

<h1>Ao5s</h1>

<p>your averages of 5</p>

@if (_averages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Average</th>
                <th>bestTime</th>
                <th>worsttime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var average in _averages)
            {
                <tr>
                    @if(average.Average == double.MaxValue)
                    {
                        <td>DNF</td>
                    }
                    else
                    {
                        <td>@average.Average</td>
                    }
                    
                    <td>@average.BestTime.Value</td>
                    @if (average.WorstTime.DNF)
                    {
                        <td>DNF</td>
                    }
                    else
                    {
                        <td>@average.WorstTime.Value</td>
                    }
					
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Ao5Model[] _averages = [];

    protected override async Task OnInitializedAsync()
    {
		_averages = await httpClient.GetAo5sAsync();
    }
}
