@page "/"
@inject CubeTimeAnalyzerHttpClient httpClient
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer
<h3>Import</h3>

<InputFile OnChange="LoadFile" />

@code {
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        if(await httpClient.ImportTimes(e.File))
        {
            NavigationManager.NavigateTo("Averages");
        }
    }
}
